MIDIDriverSample/target
MIDIDriver/target
MIDIDriver/.temp_settings
MIDIDriverSample/.temp_settings
MIDIDriver/bin
MIDIDriverSample/bin
MIDIDriver/gen
MIDIDriverSample/gen
MIDIDriver/build
.idea
.gradle
*.iml
local.properties
